@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

a:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.image-active {
  border: 1px solid orangered;
  padding: 2px;
}

.green-in-stock {
  color: #0bda51;
}

.custom-shape-divider-bottom-1628867198 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1628867198 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 223px;
}

.custom-shape-divider-bottom-1628867198 .shape-fill {
  fill: #afd2e9;
}
